CREATE DATABASE FITFOOD;
USE FITFOOD;
-- ==========================================
-- 1. BẢNG VAI TRÒ
-- ==========================================

CREATE TABLE Roles (
    id INT IDENTITY(1,1) PRIMARY KEY,
    role_code VARCHAR(50) NOT NULL UNIQUE,
    role_name NVARCHAR(100) NOT NULL
);

INSERT INTO Roles (role_code, role_name)
VALUES
('CUSTOMER', N'Khách hàng'),
('ADMIN', N'Admin'),
('STAFF', N'Nhân viên'),
('GUEST', N'Khách vãng lai');


-- ==========================================
-- 2. BẢNG CHỨC NĂNG
-- ==========================================

CREATE TABLE Permissions (
    id INT IDENTITY(1,1) PRIMARY KEY,
    permission_code VARCHAR(100) NOT NULL UNIQUE,
    permission_name NVARCHAR(255) NOT NULL
);




-- ==========================================
-- 3. BẢNG PHÂN QUYỀN
-- ==========================================

CREATE TABLE RolePermissions (
    role_id INT NOT NULL,
    permission_id INT NOT NULL,

    PRIMARY KEY (role_id, permission_id),

    FOREIGN KEY (role_id)
        REFERENCES Roles(id),

    FOREIGN KEY (permission_id)
        REFERENCES Permissions(id)
);

-- ==========================================
-- KHÁCH HÀNG
-- ==========================================

INSERT INTO RolePermissions (role_id, permission_id)
SELECT 1, id
FROM Permissions
WHERE permission_code IN (
    'LOGIN',
    'FORGOT_PASSWORD',
    'VIEW_MENU',
    'VIEW_CATEGORIES',
    'VIEW_PRODUCT_DETAIL',
    'SEARCH_PRODUCT',
    'SELECT_PACKAGE',
    'ADD_TO_CART',
    'VIEW_EDIT_CART',
    'PLACE_ORDER',
    'PAYMENT',
    'APPLY_PROMOTION',
    'SELECT_CHANGE_MEAL',
    'VIEW_ORDER_HISTORY',
    'TRACK_ORDER',
    'CANCEL_ORDER',
    'EDIT_CUSTOMER_INFO',
    'VIEW_CUSTOMER_INFO',
    'INVOICE'
);


-- ==========================================
-- ADMIN
-- ==========================================

INSERT INTO RolePermissions (role_id, permission_id)
SELECT 2, id
FROM Permissions
WHERE permission_code IN (
    'LOGIN',
    'FORGOT_PASSWORD',
    'VIEW_MENU',
    'VIEW_CATEGORIES',
    'VIEW_PRODUCT_DETAIL',
    'SEARCH_PRODUCT',
    'VIEW_ORDER_HISTORY',
    'TRACK_ORDER',
    'MANAGE_ORDERS',
    'MANAGE_PRODUCTS',
    'MANAGE_CATEGORIES',
    'MANAGE_PROMOTIONS',
    'MANAGE_CUSTOMERS',
    'MANAGE_DELIVERY',
    'VIEW_REPORTS',
    'VIEW_CUSTOMER_INFO',
	'CUSTOMER_SUPPORT',
    'INVOICE'
);


-- ==========================================
-- NHÂN VIÊN
-- ==========================================

INSERT INTO RolePermissions (role_id, permission_id)
SELECT 3, id
FROM Permissions
WHERE permission_code IN (
    'LOGIN',
    'FORGOT_PASSWORD',
    'VIEW_MENU',
    'VIEW_CATEGORIES',
    'VIEW_PRODUCT_DETAIL',
    'SEARCH_PRODUCT',
    'VIEW_ORDER_HISTORY',
    'TRACK_ORDER',
    'MANAGE_CUSTOMERS',
    'MANAGE_DELIVERY',
    'VIEW_CUSTOMER_INFO',
	'CUSTOMER_SUPPORT',
    'INVOICE'
);


-- ==========================================
-- KHÁCH VÃNG LAI
-- ==========================================

INSERT INTO RolePermissions (role_id, permission_id)
SELECT 4, id
FROM Permissions
WHERE permission_code IN (
    'LOGIN',
    'REGISTER',
    
    'VIEW_MENU',
    'VIEW_CATEGORIES',
    'VIEW_PRODUCT_DETAIL',
    'SEARCH_PRODUCT'
);

-- KIỂM TRA KẾT QUẢ --
SELECT 
    r.role_name AS N'Vai trò',
    p.permission_name AS N'Chức năng'
FROM RolePermissions rp
JOIN Roles r ON rp.role_id = r.id
JOIN Permissions p ON rp.permission_id = p.id
ORDER BY r.id, p.id;

DROP TABLE IF EXISTS RolePermissions;
DROP TABLE IF EXISTS Permissions;
DROP TABLE IF EXISTS Roles;